// Button
.button {
	display: inline-flex;
	&--link {
		transition: color 0.3s;
		@include adaptiveValue("padding", 8, 2);
		@media (any-hover: hover) {
			&:hover {
				color: $purpleColor;
			}
		}
	}
	&--yellow {
		font-weight: 600;
		line-height: 133%;
		text-align: center;
		align-items: center;
		padding-top: toRem(8);
		justify-content: center;
		background: $yellowColor;
		padding-bottom: toRem(8);
		transition: background-color 0.3s;
		box-shadow:
			rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
			rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
			rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
			rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
			rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
			rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
		@include adaptiveValue("padding-left", 48, 16);
		@include adaptiveValue("border-radius", 40, 32);
		@include adaptiveValue("padding-right", 48, 16);
		@include adaptiveValue("min-height", 80, 48, 2, 2560, 1024);
		@media (max-width: toEm(1024)) {
			@include adaptiveValue("min-height", 48, 38, 0, 1024, 320);
		}
		@media (any-hover: hover) {
			&:hover {
				background: #b7ed18;
			}
		}
		&:active {
			color: #fff;
			background: $blackGradient;
		}
	}
	&--fw {
		width: 100%;
	}
}
