//========================================================================================================================================================
// Заголовки, загальні БЕМ блоки та інше...
//========================================================================================================================================================
::-webkit-scrollbar {
	width: toRem(1);
	background-color: #fff;
	border-radius: toRem(10);
}
::-webkit-scrollbar-thumb {
	border-radius: toRem(10);
	background-color: $mainColor;
}
::selection {
	background-color: rgba(#a60101, 0.5);
}
summary {
	list-style: none;
	&::marker {
		display: none;
	}
}
@supports (-webkit-appearance: none) {
	summary::-webkit-details-marker {
		display: none;
	}
}
//========================================================================================================================================================
// Logo
.logo {
	line-height: 117%;
	transition: opacity 0.3s;
	@include adaptiveValue("font-size", 48, 24, 2, 2160, 1024);
	@media (max-width: toEm(1024)) {
		@include adaptiveValue("font-size", 24, 20, 0, 1024, 320);
	}
	img {
		width: 100%;
		object-fit: cover;
		@include adaptiveValue("height", 75, 48, 2, 2160, 1024);
		@media (max-width: toEm(1024)) {
			@include adaptiveValue("height", 54, 40, 0, 1024, 320);
		}
	}
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.7;
		}
	}
}
// Padding For Sextions
.how,
.our,
.product,
.compare,
.psych,
.case {
	@include adaptiveValue("padding-top", 62, 32, 2, 2160, 1024);
	@include adaptiveValue("padding-bottom", 62, 32, 2, 2160, 1024);
	@media (max-width: toEm(1024)) {
		@include adaptiveValue("padding-top", 32, 24, 0, 1024, 320);
		@include adaptiveValue("padding-bottom", 32, 24, 0, 1024, 320);
	}
}
// Hover on social icons
.social-hover {
	svg {
		path {
			fill: $mainColor;
			transition: fill 0.3s ease;
		}
	}
	@media (any-hover: hover) {
		&:hover {
			svg {
				path {
					fill: $purpleColor;
				}
			}
		}
	}
}
// Image
.img {
	overflow: hidden;
	@include adaptiveValue("border-radius", 24, 16);
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transform: scale(1.02);
		transition: transform 0.3s;
	}
}
// Box Shadow
.shad {
	box-shadow:
		rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
		rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
		rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
		rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
		rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
		rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}
// Icon Box
.icon-box {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $purpleColor;
	@include adaptiveValue("height", 90, 40, 0, 2160, 1024);
	@include adaptiveValue("min-width", 90, 40, 0, 2160, 1024);
	@include adaptiveValue("border-radius", 22, 12, 0, 2160, 1024);
	&--play,
	&--smile,
	&--users {
		svg,
		img {
			@include adaptiveValue("width", 51, 24, 0, 2160, 1024);
		}
	}
	&--fire,
	&--refresh {
		svg,
		img {
			@include adaptiveValue("width", 45, 18, 0, 2160, 1024);
		}
	}
	&--dollar {
		svg,
		img {
			@include adaptiveValue("width", 29, 14, 0, 2160, 1024);
		}
	}
	&--psycol {
		svg,
		img {
			@include adaptiveValue("width", 42, 20, 0, 2160, 1024);
		}
	}
	&--clock {
		svg,
		img {
			@include adaptiveValue("width", 49, 21, 0, 2160, 1024);
		}
	}
	&--idea {
		svg,
		img {
			@include adaptiveValue("width", 43, 18, 0, 2160, 1024);
		}
	}
	&--down {
		svg,
		img {
			@include adaptiveValue("width", 47, 24, 0, 2160, 1024);
		}
	}
	// For Number Icons
	&--number {
		font-weight: 600;
		color: $yellowColor;
		@include adaptiveValue("font-size", 42, 16, 0, 2160, 1024);
	}
}
// Title
.title {
	font-weight: 600;
	line-height: 117%;
	@include adaptiveValue("font-size", 40, 24, 2, 2160, 1024);
	@media (max-width: toEm(1024)) {
		@include adaptiveValue("font-size", 24, 20, 0, 1024, 320);
	}
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 64, 24, 0, 2160, 1024);
	}
}
// Text
.text {
	line-height: 135%;
	span {
		font-weight: 600;
	}
	&--large {
		@include adaptiveValue("font-size", 32, 14, 2, 2160, 1024);
		@media (max-width: toEm(1024)) {
			@include adaptiveValue("font-size", 14, 12, 0, 1024, 320);
		}
	}
	&--min {
		@include adaptiveValue("font-size", 24, 14, 2, 2160, 1024);
		@media (max-width: toEm(1024)) {
			@include adaptiveValue("font-size", 14, 12, 0, 1024, 320);
		}
	}
	&--tiny {
		@include adaptiveValue("font-size", 20, 12, 0, 2160, 1024);
	}
}
// Back Blure
.back-blure {
	z-index: 1;
	overflow: hidden;
	position: relative;
	border: 2px solid rgba(255, 255, 255, 0.95);
	@include adaptiveValue("border-radius", 24, 16, 0, 2160, 1024);
	&::before {
		top: 0;
		left: 0;
		z-index: -1;
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		background: linear-gradient(66deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
	}
	@media (max-width: $mobileSmall) {
		border: 1px solid rgba(255, 255, 255, 0.95);
	}
}
// Slider
.slider.swiper {
	overflow: visible;
}
.slider {
	// .slider__wrapper
	&__wrapper {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 64, 28, 2, 2160, 1024);
			@media (max-width: toEm(1024)) {
				@include adaptiveValue("margin-bottom", 28, 24, 0, 1024, 320);
			}
		}
	}
	// .slider__slide
	&__slide {
	}
	// .slider__dotts
	&__dotts {
	}
}
.slide-slider {
	@media (any-hover: hover) {
		&:hover {
			.slide-slider__picture {
				.slide-slider__image {
					img {
						transform: scale(1.07);
					}
				}
			}
		}
	}
	&.back-blure {
		@include adaptiveValue("border-radius", 26, 16);
	}
	// .slide-slider__picture
	&__picture {
		overflow: hidden;
		position: relative;
		border: solid #fff;
		@include adaptiveValue("border-width", 8, 2);
		@include adaptiveValue("border-radius", 24, 16);
		&::before {
			top: 0;
			left: 0;
			z-index: 1;
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			background: linear-gradient(202deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.43) 100%);
		}
	}
	// .slide-slider__image
	&__image {
		border-radius: 0px;
	}
	// .slide-slider__name
	&__name {
		left: 0;
		bottom: 0;
		z-index: 1;
		color: #fff;
		font-weight: 700;
		line-height: 125%;
		position: absolute;
		@include adaptiveValue("padding", 24, 16, 0, 2160, 1024);
		@include adaptiveValue("font-size", 32, 14, 2, 2160, 1024);
		@media (max-width: toEm(1024)) {
			@include adaptiveValue("font-size", 14, 12, 0, 1024, 320);
		}
	}
	// .slide-slider__text
	&__text {
		@include adaptiveValue("padding", 16, 12);
		p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 14, 8);
			}
		}
	}
}
// Controls
.controls {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 16, 8);
	@media (max-width: $mobile) {
		display: none;
	}
	// .controls__arrow
	&__arrow {
		display: flex;
		border-radius: 50%;
		align-items: center;
		background-color: #fff;
		justify-content: center;
		border: 1px solid $purpleColor;
		transition: background-color 0.5s;
		@include adaptiveValue("width", 64, 38, 0, 2160, 1024);
		@include adaptiveValue("height", 64, 38, 0, 2160, 1024);
		svg {
			@include adaptiveValue("width", 36, 22, 2, 2160, 1024);
			@media (max-width: toEm(1024)) {
				@include adaptiveValue("width", 22, 16, 0, 1024, 320);
			}
			path {
				transition: fill 0.5s;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $purpleColor;
				svg {
					path {
						fill: #fff;
					}
				}
			}
		}
	}
}
// Dotts
.dotts {
	gap: toRem(8);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	.swiper-pagination-bullet {
		cursor: pointer;
		border-radius: 50%;
		background-color: #fff;
		border: 1px solid $purpleColor;
		transition: background-color 0.5s;
		@include adaptiveValue("width", 24, 12, 0, 2160, 1024);
		@include adaptiveValue("height", 24, 12, 0, 2160, 1024);
		@media (max-width: $mobileSmall) {
			border: 0.2px solid $purpleColor;
		}
	}
	.swiper-pagination-bullet-active {
		background-color: $purpleColor;
	}
}
// Animation
.anim {
	opacity: 0;
	transform: translate(0, 15%);
	transition:
		transform 0.7s ease 0s,
		opacity 0.7s ease 0s;
	&._watcher-view {
		opacity: 1;
		transform: translate(0, 0);
	}
}
