//========================================================================================================================================================
// Заголовки, загальні БЕМ блоки та інше...
//========================================================================================================================================================
::-webkit-scrollbar {
	width: toRem(1);
	background-color: #fff;
	border-radius: toRem(10);
}
::-webkit-scrollbar-thumb {
	border-radius: toRem(10);
	background-color: $mainColor;
}
::selection {
	background-color: rgba(#a60101, 0.5);
}
summary {
	list-style: none;
	&::marker {
		display: none;
	}
}
@supports (-webkit-appearance: none) {
	summary::-webkit-details-marker {
		display: none;
	}
}
//========================================================================================================================================================
// Logo
.logo {
	line-height: 117%;
	transition: opacity 0.3s;
	@include adaptiveValue("font-size", 48, 20);
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.7;
		}
	}
}
// Hover on social icons
.social-hover {
	svg {
		path {
			fill: $mainColor;
			transition: fill 0.3s ease;
		}
	}
	@media (any-hover: hover) {
		&:hover {
			svg {
				path {
					fill: $purpleColor;
				}
			}
		}
	}
}
// Image
.img {
	overflow: hidden;
	@include adaptiveValue("border-radius", 24, 16);
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transform: scale(1.02);
	}
}
// Box Shadow
.shad {
	box-shadow:
		rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
		rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
		rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
		rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
		rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
		rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}
// Icon Box
.icon-box {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $purpleColor;
	@include adaptiveValue("height", 100, 40);
	@include adaptiveValue("min-width", 100, 40);
	@include adaptiveValue("border-radius", 24, 12);
	&--dollar {
		svg {
			@include adaptiveValue("width", 34, 14);
		}
	}
	&--psycol {
		svg {
			@include adaptiveValue("width", 47, 20);
		}
	}
	&--number {
		font-weight: 600;
		color: $yellowColor;
		@include adaptiveValue("font-size", 42, 16);
	}
	&--clock {
		svg {
			@include adaptiveValue("width", 54, 21);
		}
	}
	&--idea {
		svg {
			@include adaptiveValue("width", 48, 18);
		}
	}
	&--play {
		svg {
			@include adaptiveValue("width", 56, 22);
		}
	}
}
// Title
.title {
	opacity: 0;
	transform: translate(0px, 30px);
	transition:
		opacity 1s ease 0.1s,
		transform 1s ease 0.1s;
	&._watcher-view {
		opacity: 1;
		transform: translate(0px, 0px);
	}
	font-weight: 600;
	line-height: 117%;
	@include adaptiveValue("font-size", 48, 20);
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 64, 24);
	}
}
// Text
.text {
	line-height: 135%;
	span {
		font-weight: 600;
	}
	&--large {
		@include adaptiveValue("font-size", 32, 12);
	}
	&--min {
		@include adaptiveValue("font-size", 24, 12);
	}
}
// Back Blure
.back-blure {
	z-index: 1;
	overflow: hidden;
	position: relative;
	border: 2px solid rgba(255, 255, 255, 0.95);
	@include adaptiveValue("border-radius", 24, 16);
	&::before {
		top: 0;
		left: 0;
		z-index: -1;
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		filter: blur(45px);
		background: linear-gradient(66deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.45) 100%);
	}
	@media (max-width: $mobileSmall) {
		border: 1px solid rgba(255, 255, 255, 0.95);
	}
}
